// Define variables for your color scheme


$dark-blue: #005874;
$sky-blue: #1C819E;
$light-gray: #E6E6E6;
$nice-yellow: #FFBE00;

$dark-purple: #9214C0;
$purple: #912AD1;
$black: #3B3B3B;

$dark-blue: #005874;
$sky-blue: #1C819E;
$light-gray: #E6E6E6;
$nice-yellow: #FFBE00;

