<h1>Welcome<%=@user.first_name %></h1>
<p> This is your profile within Testâe, where you can edit your profile, see the tests you have created, the reviews you have submitted, your balance with your earnings and your invites among your friends! </p>