<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/Rayancdc/testae"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/rayancdc/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/rayan.chavesdecastro"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/in/rayan-chaves-de-castro-76349a133/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This website was made by the sAppiens Team<a href="www.lewagon.com">@Le Wagon Bootcamp.</a>
  </div>
</div>
