.footer {
  background: $black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0px 50px;
  color: rgba(230, 230, 230, 0.7);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: rgba(230, 230, 230, 0.7);
  opacity: 0.75;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.footer-copyright a {
  color: rgba(230, 230, 230, 0.7);
  opacity: 0.75;
  text-decoration: none;
  padding: 0px 10px;
  &:hover {
    opacity: 1;
  }
}

.sticky-footer {
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
}
