<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1><%= test.name %></h1>
      <%= link_to "", root_path %>
      <div class="list-inline">
    <%= link_to "Delete Test", test_path(@test), class: "btn btn-danger", method: :delete, data:{confirm:"Are you sure?"} %>
  	</div>
    	</div>
  		</div>
  		</div>
