<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://auslyngroup.com/wp-content/uploads/2015/10/ITSM-XX.jpg');">
  <div class="banner-content">

        <h1>Testae</h1>
      <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
          <form action="#">
            <h1 class="text-bottom"></h1>
            <div class="row">
              <div class="col-xs-6">
                <div class="form-group">
                  <label for="first-name">Nome</label>
                  <input type="text" class="form-control" id="first-name" placeholder="Paulo">
                </div>
              </div>
              <div class="col-xs-6">
                <div class="form-group">
                  <label for="last-name">Sobrenome</label>
                  <input type="text" class="form-control" id="last-name" placeholder="Silva">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="email">E-mail</label>
              <input type="email" class="form-control" id="email" placeholder="paulo.silva@gmail.com">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" placeholder="•••••••">
            </div>
            <input type="submit" value="Sign up" class="btn btn-primary">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

